<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>兼职简历</title>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/angular.1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/global.css" rel="stylesheet" />
		<link href="../../css/jzjl/jianzhijianli.css" rel="stylesheet" />
	</head>

	<body class="bg-white" ng-app="myApp">
		<header class="mui-bar mui-bar-nav header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">兼职简历</h1>
			<botton class="editor">全选</button>
		</header>
		<nav class="mui-bar mui-bar-tab checkBtnBar">
			<div class="buttonstyle" href="#">
				<button class="mui-btn green deleteBtn">删除</button>
			</div>
		</nav>
		<div class="mui-content padding-top54 bg-white jianzhi-style" ng-controller="jzjlCtrl">
			<div class="mui-loading" ng-if="isWaiting">
				<div class="mui-spinner">
				</div>
			</div>
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
				<li class="mui-table-view-cell" ng-repeat="j in data.pager.data">
					<div class="mui-table open" data-oid="{{j.userId}}" data-href="../company-user.html">
						<div class="mui-table-cell mui-col-xs-10">
							<h4 class="mui-ellipsis">{{j.name}}&nbsp;|&nbsp;<span>{{j.jobName}}<span></h4>
							<p class="mui-ellipsis"><span>$</span>{{j.phone}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$</span>{{j.school}}</p>
						</div>
					</div>
					<div class="mui-input-row mui-checkbox mui-left check choose">
						<input name="checkbox" ngname="{{j.name}}" type="checkbox">
					</div>
				</li>
				
				
				<!--<li class="mui-table-view-cell">
					<div class="mui-table">
						<div class="mui-table-cell mui-col-xs-10">
							<h4 class="mui-ellipsis">陈好</h4>
							<p><span>$</span>15656788989&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$</span>宁波大学</p>
						</div>
					</div>
					<div class="mui-input-row mui-checkbox mui-left check choose">
						<input name="checkbox" value="Item 2" type="checkbox" checked="">
					</div>
				</li>-->
			</ul>
		</div>
	</body>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		var myApp = angular.module('myApp', []);
		myApp.fn = {};
		myApp.controller('jzjlCtrl', ['$scope', "$http",
			function($scope, $http, $watch) {
				$scope.isWaiting = true;
				myApp.fn.jzjlCtrl = {
					run: function() {
						restService.Aget($http, "/jobs/0", {}, function(response) {
							$scope.data = response;
							$scope.isWaiting = false;
						});
					}
				}
				$scope.run = myApp.fn.jzjlCtrl.run;
				myApp.fn.jzjlCtrl.run();
			}
		]);
		listentHref(mui(".mui-table-view"), function(e) {
			return {
				oid: e.getAttribute("data-oid")
			}
		});
		mui.checkFn(".mui-table-view", ".editor", {
			".deleteBtn": function(item) {
				var name = "";
				mui.each(item, function(i, e) {
					name += e.getAttribute("ngname") + ",";
				});
				console.log(item.length + name)
			}
		});
	</script>

</html>