.salary {
	margin-bottom: 80px;
}
.salary .jobname {
	text-align: center;
	margin: 10px 0;
	color: #323232;
}
.salary-textarea {
	margin-top: 10px;
	margin-bottom: 0;
	border: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 16px;
	line-height: 25px;
	position: relative;
}
.salary .mui-ellipsis {
	padding-right: 35px;
}
.salary .address {
	position: absolute;
	top: 15px;
	left: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 65%;
}
.salary-nav {
	bottom: 0;
	height: 50px;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0 2px #43bafe;
}
.salary-nav .mui-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	text-align: center;
}
.salary-nav .mui-numbox {
	width: 65%;
	height: 40px;
	margin: 5px 0;
	border: 1px solid #43BAFE;
}
.salary-nav .mui-numbox .mui-numbox-input {
	text-align: left;
	border-left: solid 1px #43BAFE!important;
	border-right: solid 1px #43BAFE!important;
}
.salary-nav .mui-numbox [class*=mui-numbox-btn] {
	color: #43BAFE;
}
.salary-nav .confirm {
	margin: 5px 10px;
	height: 40px;
	background-color: #43BAFE;
	border: none;
	width: 80px;
	color: #fff;
}
.salary-nav .mui-numbox .select-choose {
	position: absolute;
	top: 0;
	right: 41px;
	width: 70px!important;
	padding: 7px 10px;
	border: solid 1px transparent!important;
	text-align: center;
	z-index: 100;
	background-color: transparent;
}
.salary-nav .mui-numbox .icon {
	position: absolute;
	top: 0;
	right: 40px;
	padding: 8px 0;
}
.salary .mui-table-view-cell.mui-active {
	background-color: #fff;
}
.salary .editor {
	position: absolute;
	right: 10px;
	margin: 11px 0;
}
.salary-textarea .pay-over {
	position: absolute;
	right: 0;
	top: 8px;
	background-color: #9fd5ef;
	color: #fff;
	padding: 2px;
}
.salary1 .salary-detial {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px 15px;
	display: none;
}
.salary1 .salary-detial>p {
	margin: 0 0 5px;
	position: relative;
}
.salary1 .salary-detial>p>span {
	position: absolute;
	right: 15px;
}
.salary2-nav {
	height: 100px;
}
.salary2 {
	margin-bottom: 100px;
}
.salary2-nav .salary-name {
	float: left;
	width: 40px;
	color: #43BAFE;
	left: 0;
	position: absolute;
	line-height: 40px;
	height: 40px;
	text-align: center;
}
.salary2-nav .salary-box {
	position: relative;
	border: 1px solid #43BAFE;
	width: 65%;
	height: 40px;
	display: inline-block;
	padding-left: 40px;
	border-radius: 3px;
	margin: 5px 0 0;
}
.salary2-nav .salary-box>input {
	float: left;
	width: 100%;
	margin: 0;
	border: 0;
	height: 100%;
	border-left: 1px solid #43BAFE;
	border-radius: 0;
}
.salary-nav .confirm-style {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	height: 100%;
	text-align: center;
	padding-top: 25px;
}